QWidget {
    background-color: #1b1b25;
    color: white;
    font-family: 'Segoe UI';
    font-size: 14px;
}

QLabel {
    color: #ddd;
    font-size: 16px;
}

QPushButton#btnPlay {
    background-color: #4b67ff;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bold;
}

QPushButton#btnPlay:hover {
    background-color: #6a82ff;
}

QComboBox#combo {
    background-color: #2c2c3b;
    border-radius: 6px;
    padding: 6px;
}
